@import url("https://unpkg.com/@catppuccin/highlightjs@1.0.1/css/catppuccin-frappe.css");

@font-face {
  font-family: "pixelserif";
  src: url("fonts/Pixelserif.woff2");
  font-weight: normal;
  font-style: normal;

}

.article-body {
  --accent: rgb(156, 207, 216);
  --text: rgb(224, 222, 244);
  --surface: rgb(42, 39, 63);
}

.article-body p {
  color: var(--text);
  font-size: 15px;
  margin-bottom: 1.5rem;
  line-height: 1.625;
}

.article-body a {
  color: var(--accent);
  text-decoration: underline;
}
.article-body a:hover {
  text-decoration: none;
}

.article-body :is(h2, h3,  h4, h5, h6) {
  color: var(--accent);
  font-weight: normal;
  font-family: "pixelserif";

}

.article-body h2 {
  font-size: 1.7em;
  margin-top: 1.6em;
  margin-bottom: 0.8em;
  line-height: 1.4;
}
.article-body h3 {
  font-size: 1.5em;
  margin-top: 1.4em;
}

.article-body img {
  border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid var(--accent);
}

.article-body ol {
  color: var(--text);
  line-height: 2;
  list-style-type: decimal;
  margin-left: 2em;
}

.article-body ul {
  color: var(--text);
  line-height: 2;
  list-style-type: disc;
  margin-left: 2em;
}

.article-body blockquote {
  width: auto;
  background: linear-gradient(to right, var(--surface), transparent);
  padding: .5em 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: .5em;
}

.article-body pre {
  border-radius: .5em;
  background-color: var(--surface);
  padding: 1em;
  padding-bottom: .5em;
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(42, 59, 47) transparent;
}

.article-body pre code {
  background-color: transparent;
  font-size: 14px;
  font-family: "Roboto Mono";
}

code.hljs {
  color: var(--text)
}
code .hljs-params {
  color: var(--text)
}
code .hljs-string {
  color: var(--accent)
}

.article-body code {
  font-family: "Roboto Mono";
  background-color: var(--surface);
  border-radius: .2em;
  padding: 2px;
}

.article-body blockquote code {
  background-color: rgb(42, 59, 47);
}