---
layout: layout/base.njk
---

<h1 class="text-5xl font-semibold text-ui-accent pt-20 md:pt-24">
  {{ title }}
</h1>
<div class="h-px bg-ui-elevated/50 my-6"></div>
<div class="article-body">
  {{ content | safe }}
</div>

