<!DOCTYPE html>
<html lang="en" style="scrollbar-color: rgb(57, 53, 82) transparent; scrollbar-width: thin;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" href="/assets/favicon.ico">
  <title>
    {{ title }} {% if title %} - {% endif %} Rowan
  </title>
</head>
<body class="bg-ui-base min-h-screen text-x-text font-sans relative flex flex-col">
  <header class="sticky top-0 z-10 border-b-1 border-b-solid border-transparent bg-ui-base transition-border" id="header">
    <div class="mx-auto max-w-2xl px-4 py-6">
      <div class="flex items-center justify-between">
        <a href="/" class="text-22px text-ui-accent decoration-none font-display">
          Rowan
        </a>
        <nav class="flex space-x-6 text-sm">
          <a href="/" class="text-ui-subtext hover:text-ui-accent decoration-none">Home</a>
          {% for item in nav.menu().children %}
          <a href="{{ item.data.url }}" class="text-ui-subtext hover:text-ui-accent decoration-none">{{ item.data.title }}</a>
          {% endfor %}
        </nav>
      </div>
    </div>
  </header>
  
  <main class="mx-auto max-w-2xl px-4 flex-1">
    {{ content | safe }}
  </main>

  <footer>
    <div class="pb-2 pt-60px">
      <div class="mx-auto max-w-2xl text-center lg:translate-y--4">
        <p class="lg:text-sm text-xs text-ui-text/50">
          © {{ year }} Rowan. All Rights Reserved • Generated with <a href="https://lume.land/" class="hover:text-ui-accent">Lume</a>
          • <a href="https://everloste.github.io/projects/pixelserif" class="hover:text-ui-accent">Pixelserif</a> font created by Bee.
        </p>
      </div>
    </div>
  </footer>

  <script>
    const header = document.getElementById("header")

    function updateHeader() {
      if (window.scrollY < 1) {
        header.style.borderBottomColor = "transparent"
      } else {
        header.style.borderBottomColor = "rgba(57,53,82,.5)"
      }
    }

    updateHeader()

    window.addEventListener("scroll", updateHeader)
  </script>
</body>
</html>