<!DOCTYPE html>
<html lang="en" style="scrollbar-color: rgb(42, 59, 47) rgb(15, 26, 21); scrollbar-width: thin;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" href="/assets/favicon.ico">
  <title>
    {{ title }} {% if title %} - {% endif %} Rowan
  </title>
</head>
<body class="bg-ui-base min-h-screen text-x-text font-sans">
  <header class="sticky top-0 z-10 border-b-1 border-b-solid border-ui-elevated/30 bg-ui-base/80 backdrop-blur-sm">
    <div class="mx-auto max-w-2xl px-4 py-6">
      <div class="flex items-center justify-between">
        <a href="/" class="text-lg font-medium text-ui-accent decoration-none">
          Rowan
        </a>
        <nav class="flex space-x-6 text-sm">
          <a href="/" class="text-ui-subtext hover:text-ui-accent decoration-none">Home</a>
          {% for item in nav.menu().children %}
          <a href="{{ item.data.url }}" class="text-ui-subtext hover:text-ui-accent decoration-none">{{ item.data.title }}</a>
          {% endfor %}
        </nav>
      </div>
    </div>
  </header>
  
  <main class="mx-auto max-w-2xl px-4">
    {{ content | safe }}
  </main>

  <footer>
    <img src="/assets/footer.svg" inline>
    <div class="bg-ui-elevated pb-4">
      <div class="mx-auto max-w-2xl text-center lg:translate-y--4">
        <p class="lg:text-sm text-xs text-ui-text/50">
          © {{ year }} Rowan • Generated with <a href="https://lume.land/" class="hover:text-ui-accent">Lume</a>
        </p>
      </div>
    </div>
  </footer>
</body>
</html>